*{
  box-sizing: border-box;
}  

body{
  margin: 0 auto 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 20px auto;
  max-width: 960px;
}

h1{
  margin: 0 0 0 20px;
  font-size: 34px;
  font-weight: bold;
  border: 1px solid #000000;
  padding: 0 20px 0 20px;
}

.home{
  color: #000000;
  text-decoration: none;
}

#nav-pc{
  font-size: 34px;
}

#nav-pc ul{
  display: flex;
  margin: 18px auto 18px auto;
}

#nav-pc li{
  font-weight: bold;
  list-style: none ;
}

#nav-pc a{
  color: #000000;
  text-decoration: none;
  margin-left: 23px;
}

#camera{
  width: 100%;
  margin: 0 auto 0 auto;
}

h2{
  font-size: 34px;
  margin: 60px 0 40px 0;
  text-align: center;
}

h3{
  font-size: 24px;
  font-weight: bold;
}

#person{
  width: 282px;
  height: 284px;
  border-radius: 50%;
  margin: 0 51px 0 51px;
}

#content{
  margin: 0 51px 0 51px;
}

#content > li{
  font-size: 18px;
}

#About{
  margin: 0 auto 0 auto;
}

#About-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 20px auto;
}

#Works-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 0 auto;
  max-width: 960px;
}

.item{
  width: 25%;
  margin: 0 10px 0 10px;
  padding-bottom: 60px;
}

.works{
  width: 100%;
  margin: 0 auto 0 auto;
}

footer p{
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 767px){
  h1{
    font-size: 28px;
  }

  #nav-pc li{
    font-size: 21px;
    margin: auto 10px auto 10px;
  }

  #About-flex{
    flex-direction: column;
  }

  #content > li{
    font-size: 21px;
  }

  .item{
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
  }

}